<div class="uk-card uk-card-default uk-card-body uk-card-small">
    <h3 class="uk-card-title">
        实施概况
    </h3>
    <div class="dux-avg-layout">
        <ul class="uk-grid uk-grid-collapse uk-child-width-1-4 dux-avg-box">

            <li>
                <div class="dux-general-item">
                    <div class="icon">
                        <i class="fa fa-home red"></i>
                    </div>
                    <div class="info">
                        <p>
                            销售额(元)
                        </p>
                        <a href="{url('order/OrderStatis/index')}" class="info-title">
                            {$curOrderMoney}
                        </a> 
                        <p>昨日：{$beforeOrderMoney}</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="dux-general-item">
                    <div class="info">
                        <p>
                            支付订单数
                        </p>
                        <a href="{url('mall/Order/index')}" class="info-title">
                            {$curOrderNum}
                        </a> 
                        <p>昨日：{$beforeOrderNum}</p>
                    </div>
                </div>
            </li>


            <li>
                <div class="dux-general-item">
                    <div class="icon">
                        <i class="fa fa-user blue"></i>
                    </div>
                    <div class="info">
                        <p>
                            新增会员数
                        </p>
                        <a href="{url('member/MemberUser/index')}" class="info-title">
                            {$curUserNum}
                        </a> 
                        <p>昨日：{$beforeUserNum}</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="dux-general-item">
                    <div class="info">
                        <p>
                            会员
                        </p>
                        <a href="{url('sale/User/index')}" class="info-title">
                            {$userNum}
                        </a> 
                        <p>总人数</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="dux-general-item">
                    <div class="icon">
                        <i class="fa fa-shopping-bag green"></i>
                    </div>
                    <div class="info">
                        <p>
                            商品浏览量
                        </p>
                        <a href="{url('statis/SiteViews/index')}" class="info-title">
                            {$mallViews}
                        </a> 
                        <p>昨日：{$oldMallViews}</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="dux-general-item">
                    <div class="info">
                        <p>
                            商品会员访客
                        </p>
                        <a href="{url('statis/SiteViews/index')}" class="info-title">
                            {$mallPeople}
                        </a> 
                        <p>昨日：{$oldMallPeople}</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="dux-general-item">
                    <div class="icon">
                        <i class="fa fa-eye orange"></i>
                    </div>
                    <div class="info">
                        <p>
                            商城浏览量
                        </p>
                        <a href="{url('statis/SiteViews/index')}" class="info-title">
                            {$siteViews}
                        </a> 
                        <p>昨日：{$oldSiteViews}</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="dux-general-item">
                    <div class="info">
                        <p>
                            商城会员访客
                        </p>
                        <a href="{url('statis/SiteViews/index')}" class="info-title">
                            {$sitePeople}
                        </a> 
                        <p>昨日：{$oldSitePeople}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<br>
<div class="uk-card uk-card-default uk-card-body uk-card-small">
    <h3 class="uk-card-title">
        重要提醒
    </h3>
    <div class="dux-avg-layout">
        <ul class="uk-grid uk-grid-collapse uk-child-width-1-2 dux-avg-box">

            <li>
                <div class="dux-total-item">
                    <div class="title">订单管理</div>
                    <div class="body uk-grid  uk-grid-collapse uk-child-width-1-3">
                        <div>
                            待配送订单：<a href="{url('mall/Order/index')}" class="uk-text-primary">{$orderDeliveryNum}</a>
                        </div>
                        <div>
                            待处理退款：<a href="{url('order/Refund/index')}" class="uk-text-primary">{$orderRefundNum}</a>
                        </div>
                        <div>
                            待完成订单：<a href="{url('mall/Order/index')}" class="uk-text-primary">{$orderCompleteNum}</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="dux-total-item">
                    <div class="title">商品</div>
                    <div class="body uk-grid  uk-grid-collapse uk-child-width-1-2">
                        <div>
                            已上架商品：<a href="{url('mall/Content/index',['status'=>1])}" class="uk-text-primary">{$mallNum}</a>
                        </div>
                        <div>
                            已下架商品：<a href="{url('mall/Content/index',['status'=>2])}" class="uk-text-primary">{$mallOutNum}</a>
                        </div>
                    </div>
                </div>
            </li>


        </ul>
    </div>
</div>
<br>

<div class="uk-card uk-card-default uk-card-body uk-card-small">
    <h3 class="uk-card-title">
        常用功能
    </h3>
    <div class="dux-avg-layout">
        <ul class="uk-grid uk-grid-collapse uk-child-width-1-4 dux-avg-box">

            <li>
                <a href="{url('mall/Content/index')}" class="dux-quick-item">
                    <i class="fa fa-shopping-bag blue"></i>
                    商品管理
                </a>
            </li>
            <li>
                <a href="{url('mall/Order/index')}" class="dux-quick-item">
                    <i class="fa fa-reorder orange"></i>
                    订单管理
                </a>
            </li>

            <li>
                <a href="{url('order/Refund/index')}" class="dux-quick-item">
                    <i class="fa fa-suitcase blue"></i>
                    售后管理
                </a>
            </li>
            <li>
                <a href="{url('member/PayAccount/index')}" class="dux-quick-item">
                    <i class="fa fa-cny orange"></i>
                    用户资产
                </a>
            </li>
        </ul>
    </div>
</div>
<br>

<div class="uk-card uk-card-default uk-card-body uk-card-small">
    <h3 class="uk-card-title">
        销售业绩
    </h3>

    <ul class="uk-grid uk-grid-collapse uk-child-width-1-3 dux-avg-box">
        <li>
            <div class="dux-stats-item">
                <p>昨日销售(元)</p>
                {$beforeOrderMoney}
            </div>
        </li>
        <li>
            <div class="dux-stats-item">
                <p>近7天销售(元)</p>
                {$weeksMoney}
            </div>
        </li>
        <li>
            <div class="dux-stats-item">
                <p>近30天销售(元)</p>
                {$monthMoney}
            </div>
        </li>
    </ul>

    <div class="uk-card-body">
        {$orderBarJs}
    </div>
</div>

