<div data-dux="table-bind" class="dux-table-layout">
    <div class="dux-page-table">
        <table class="uk-table uk-table-hover uk-table-middle dux-table" data-table>
            <thead>
                <tr>
                    <th width="100">#</th>
                    <th colspan="2">用户</th>
                    <th>预警取消时限</th>
                    <th>备注</th>
                </tr>
            </thead>
            <tbody>
                <!--loop{$list as $vo}-->
                <tr>
                    <td>
                        {$vo.user_id}
                    </td>
                    <td width="80"><img src="{$vo.avatar}" width="60"></td>
                    <td>
                        <a href="javascript:;">{$vo.nickname}</a>
                        <div uk-dropdown data-id="{$vo.user_id}" class="dux-user-show" data-dux="system-user"></div>
                        <p>
                            {$vo.store} {$vo.name} {$vo.tel}
                        </p>
                        <p>
                            {$vo.province} {$vo.city} {$vo.region} {$vo.street} {$vo.address}
                        </p>
                    <td>
                        {date('Y-m-d', $vo.start_time)} ~ {date('Y-m-d', $vo.stop_time)} 
                    </td>
                    <td>{$vo.remark ? $vo.remark : '无'}</td>
                </tr>
                <!--{/loop}-->
            </tbody>
        </table>
    </div>
    <div class="dux-page-foot uk-clearfix">
        {$page}
    </div>
</div>

<div id="modal-tips" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">取消预警</h2>
        </div>
        <form method="get" action="{url('tip')}" data-dux="form-bind" data-advanced="false">
            <div class="uk-modal-body dux-form uk-form">
                <div class="uk-form-group">
                    <label class=" uk-form-label">几天内不提醒</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" type="number" name="day" value="3" placeholder="天数">
                    </div>
                </div>

                <div class="uk-form-group">
                    <label class=" uk-form-label">备注</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" type="text" name="remark" value="" placeholder="">
                    </div>
                </div>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <input type="hidden" name="id" value="0">
                <button class="uk-button uk-button-default uk-modal-close" type="button">取消</button>
                <button type="submit" class="uk-button uk-button-primary">确定</a>
            </div>
        </form>
    </div>
</div>

<script>
    Do('base', function () {

        $('[data-tips]').on('click', function () {
            var id = $(this).data('id');
            $('#modal-tips').find('input[name=id]').val(id);
            UIkit.modal('#modal-tips').show();
        });
    });
</script>