<form class="dux-form uk-form   uk-form-horizontal "  method="post">
    <fieldset>
        <div class="uk-form-group">
            <label class=" uk-form-label">开始日期</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="date" name="start_date" value="{date('Y-m-d')}">
            </div>
        </div>
        <div class="uk-form-group">
            <label class=" uk-form-label">截止日期</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="date" name="stop_date" value="{date('Y-m-d')}">
            </div>
        </div>
        <div class="uk-form-group">
            <label class=" uk-form-label">打印状态</label>
            <div class="uk-form-controls">
                <select class="uk-select" name="print_status">
                    <option value="0">
                        全部
                    </option>
                    <option value="1">
                        已打印
                    </option>
                    <option value="2">
                        未打印
                    </option>
                </select>
            </div>
        </div>

        <div class="uk-form-group">
            <label class=" uk-form-label">面单类型</label>
            <div class="uk-form-controls">
                <select class="uk-select" name="api_status">
                    <option value="0">
                        全部
                    </option>
                    <option value="1">
                        其他面单
                    </option>
                    <option value="2">
                        电子面单
                    </option>
                </select>
            </div>
        </div>
    </fieldset>
</form>
<div class="dux-dialog-foot">
    <button class="uk-button uk-button-primary" id="submit" type="button">导出CSV文件</button>
</div>

<script>
    Do('base', function() {
        $('#submit').click(function() {
            app.ajax({
                url : '{url()}',
                type : 'post',
                data : $('form').serialize(),
                success : function(info) {
                    location.href = info;
                }
            });
        });
    });
</script>