<div class="uk-form-group">
    <div class="uk-flex uk-margin-small-bottom">
        <div class="uk-flex-1" style="padding-top: 5px;">图片菜单</div>
        <div>
            <button class="uk-button uk-button-small uk-button-success" type="button" data-js="addMenu">增加</button>
        </div>
    </div>
    <div data-editor-menu>
        {{# for(var i in d.data) { }}
        <div data-item="{{i}}" class="uk-input-group uk-margin-bottom">
            <input class="uk-input" type="text" name="data[{{i}}][image]" id="menu-image-{{i}}" value="{{d.data[i] ? d.data[i].image : ''}}" placeholder="菜单图片">
            <span class="uk-input-group-btn">
                <button class="uk-button uk-button-default" type="button" data-type="image" data-dux="system-attach" data-target="#menu-image-{{i}}"><i class="fa fa-upload"></i></button>
            </span>
            <input class="uk-input" type="text" name="data[{{i}}][url]" value="{{d.data[i] ? d.data[i].url : ''}}" placeholder="图片链接">
            <input class="uk-input" type="text" name="data[{{i}}][text]" value="{{d.data[i] ? d.data[i].text : ''}}" placeholder="菜单文字">
            <span class="uk-input-group-btn"><button class="uk-button uk-button-default" data-del type="button">删除</button></span>
        </div>
        {{# } }}
    </div>
</div>
<div class="uk-form-group">
    <label class=" uk-form-label">每行数量</label>
    <div>
        <input class="uk-input" type="number" name="style[column]" value="{{d.style.column}}">
    </div>
</div>