<div>
    {{# for(var num = 1; num <= d.style.limit; num++) { }}
    <div>
        <div style="background: #fff; margin: 5px; padding: 5px; text-align: center" class="uk-flex">
            <div style="padding-right: 10px;">
                <img width="50" height="50" src="{url('controller/tools/Placeholder/index', ['width' => 50, 'height' => 50])}">
            </div>
            <div class="uk-flex-1" style="text-align: left;">
                <div style="font-size: 16px;">文章标题</div>
                <div style="font-size: 14px; color: #999">文章描述</div>
            </div>
        </div>
    </div>
    {{# } }}
</div>